## Data Preprocessing

References:
- https://medium.com/@maleeshadesilva21/preprocessing-steps-for-natural-language-processing-nlp-a-beginners-guide-d6d9bf7689c9

In [1]:
import kagglehub

path = kagglehub.dataset_download("rmisra/imdb-spoiler-dataset")
# print("Path to dataset files:", path)

/home/ayush/anaconda3/envs/pp/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd

movie_details = pd.read_json(path + "/IMDB_movie_details.json", lines=True)
reviews = pd.read_json(path + "/IMDB_reviews.json", lines=True)

In [3]:
# sample randomly

movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1491,tt0103939,"The biography of Charles Chaplin, filmmaker ex...",2h 23min,"[Biography, Comedy, Drama]",7.6,1993-01-08,"Chaplin is the story of Charles Chaplin, the f..."
953,tt1951266,After young Katniss Everdeen agrees to be the ...,2h 17min,"[Action, Adventure, Sci-Fi]",6.6,2015-11-20,"In the opening scene, Katniss Everdeen (Jennif..."
920,tt0103923,"During World War II, a brave, patriotic Americ...",1h 37min,"[Action, Adventure, Sci-Fi]",3.3,1990-12-14,
1207,tt0448134,"50 years into the future, the Sun begins to di...",1h 47min,"[Adventure, Sci-Fi, Thriller]",7.3,2007-07-27,"In the year 2050, dark energy is destabilizing..."
981,tt2293640,"Ever since the dawn of time, the Minions have ...",1h 31min,"[Animation, Action, Adventure]",6.4,2015-07-10,The movie starts with a narration about the mi...
337,tt0096283,"Two young girls, Satsuki and her younger siste...",1h 26min,"[Animation, Family, Fantasy]",8.2,1988-04-16,"On a warm, sunny day, 10-year-old Satsuki (Eng..."
1521,tt0287978,Fate deals young orphan Matt Murdock a strange...,1h 43min,"[Action, Crime, Sci-Fi]",5.3,2003-02-14,"As a child, Matthew Murdock lived in Hell's Ki..."
659,tt1291584,Two brothers face the fight of a lifetime - an...,2h 20min,"[Drama, Sport]",8.2,2011-09-09,"Paddy Conlon (Nick Nolte), exits a Pittsburgh ..."
1365,tt0107969,"At the offices of a Japanese corporation, duri...",2h 9min,"[Action, Crime, Drama]",6.2,1993-07-30,
647,tt0407887,"In South Boston, the state police force is wag...",2h 31min,"[Crime, Drama, Thriller]",8.5,2006-10-06,"In voiceover, Irish-American mobster Frank Cos..."

In [4]:
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
386133,28 December 2005,tt0418832,ur4666064,False,This movie is the best thing i've seen come ou...,10,Canada's best
237744,18 September 2015,tt3569230,ur7813355,True,Lovable club owner Reg wants nothing more than...,7,"Hardy is great, but bring your own moral compa..."
567743,5 May 2000,tt0159097,ur0400942,False,Sofia Coppola has made quite a splash with her...,10,Hauntingly beautiful
157072,2 October 2012,tt1276104,ur36756533,False,"First, let's get something straight right off ...",8,Will throw you for a loop!
97528,21 May 2012,tt0046911,ur33374263,False,"Considered a Horror Film, in the Hitchcock mod...",8,Avant-Garde Influential Imitated Many Times
121159,1 March 2011,tt1564585,ur23828932,False,"It was severely let down by it's acting, writi...",3,"Had potential, but..."
370868,5 November 2005,tt0367594,ur0401212,False,This is not the only awful film to be made fro...,1,An absolute abomination
77979,23 February 1999,tt0118715,ur0121561,False,This film is completely excellent. In additio...,10,"Totally excellent, man"
434627,7 November 2007,tt0492956,ur17350845,False,Just came back from taking five kids to see th...,8,Pleasantly surprised
488877,12 March 2009,tt0102138,ur14144479,False,I wouldn't like to talk much about this movie....,10,"Oliver, Costner and Tommy Jones makes JFK one ..."

In [5]:
movie_details.describe()

            rating
count  1572.000000
mean      7.071819
std       0.967966
min       2.400000
25%       6.500000
50%       7.100000
75%       7.800000
max       9.500000

In [6]:
reviews.describe()

              rating
count  573913.000000
mean        6.954254
std         2.956295
min         1.000000
25%         5.000000
50%         8.000000
75%        10.000000
max        10.000000

In [7]:
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       1572 non-null   object
 1   plot_summary   1572 non-null   object
 2   duration       1572 non-null   object
 3   genre          1572 non-null   object
 4   rating         1572 non-null   float64
 5   release_date   1572 non-null   object
 6   plot_synopsis  1572 non-null   object
dtypes: float64(1), object(6)
memory usage: 86.1+ KB

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573913 entries, 0 to 573912
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_date     573913 non-null  object
 1   movie_id        573913 non-null  object
 2   user_id         573913 non-null  object
 3   is_spoiler      573913 non-null  bool
 4   review_text     573913 non-null  object
 5   rating          573913 non-null  int64
 6   review_summary  573913 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 26.8+ MB

## Text cleaning

In [9]:
# convert to lowercase

movie_details["plot_summary"] = movie_details["plot_summary"].map(lambda x: x.lower())
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].map(lambda x: x.lower())
movie_details.sample(5)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
240,tt0150377,when nick parsons appears to be murdered his w...,1h 45min,"[Crime, Drama, Mystery]",6.4,1999-09-24,libby parsons seems to have it all. her husban...
115,tt0765429,following the death of his employer and mentor...,2h 37min,"[Biography, Crime, Drama]",7.8,2007-11-02,the film opens with bumpy johnson (clarence wi...
878,tt0104070,"in 1978, in broadway, the decadent and narciss...",1h 44min,"[Comedy, Fantasy, Horror]",6.5,1992-07-31,the film opens with madeline ashton (meryl str...
666,tt1010048,"the story of jamal malik, an 18 year-old orpha...",2h,"[Drama, Romance]",8.0,2008-12-25,slumdog millionaire is the story of jamal mali...
388,tt0079944,"in a small, unnamed country there is an area c...",2h 42min,"[Drama, Sci-Fi]",8.1,1980-04-17,"a ""stalker"" is a guide who takes people throug..."

In [10]:
reviews["review_summary"] = reviews["review_summary"].map(lambda x: x.lower())
reviews["review_text"] = reviews["review_text"].map(lambda x: x.lower())
reviews.sample(5)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
145901,30 May 2011,tt1605783,ur26375155,False,no one knows the american character like allen...,10,this is it everyone.
80664,2 February 2017,tt2119532,ur24656127,False,this is a sweet movie. it's very very sweet. i...,1,sweet but shallow
11552,12 March 2015,tt0468569,ur15526017,False,"never like to give 10, and have never given 10...",10,joker to love
187699,28 April 2013,tt1300854,ur24192106,False,the movie was really good. it is like taking i...,9,best marvel movie until avengers 2
458671,21 June 2008,tt1060277,ur19506772,False,"from the start of this film, i was never fond ...",1,shaky camera - not a problem. awful script and...

In [ ]:
# remove URLs
import re

# pd.set_option('display.max_colwidth', None)
url_pattern = re.compile(r'https?://\S+')

# Use str.contains to get a boolean Series (True if a URL is present).
matches = reviews["review_text"].str.contains(url_pattern)

# show some urls
review_urls = reviews[matches]["review_text"].str.findall(url_pattern)
if len(review_urls) > 0:
    print("Number of reviews with URLs:", len(review_urls))
    print(review_urls.sample(10))

Number of reviews with URLs: 4404
460219                        [http://www.invocus.net)]
27864               [http://bobafett1138.blogspot.com/]
125871        [http://twitter.com/#search?q=careym1984]
24210     [https://www.youtube.com/watch?v=1chshnt4zsg]
167825                        [http://passpopcorn.com/]
Name: review_text, dtype: object

In [ ]:
# remove URLs from all text
reviews = reviews.replace(url_pattern, '', regex=True)
movie_details = movie_details.replace(url_pattern, '', regex=True)
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
390797,10 May 2006,tt0424136,ur5168121,True,it's impossible to comment on this movie witho...,3,"overambitous, preachy and boring."
531719,25 July 1999,tt0119217,ur0346242,False,the fact that this film was nominated for best...,7,horrible!
525190,14 March 2002,tt0116209,ur1451187,False,she picks up a cushion and places it on her la...,10,more lines from the movie/the book
221330,19 July 2014,tt1065073,ur31779403,False,linklater is certainly one of the most talente...,9,an indie turn from an indie director
64792,5 December 2007,tt0081398,ur4532636,False,"i'm resistant to the many claims that ""raging ...",8,excellent film? yes. scorsese's masterpiece? no.

In [ ]:
movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
159,tt0122151,"martin riggs and roger murtaugh, after escapin...",2h 7min,"[Action, Crime, Thriller]",6.6,1998-07-10,in this installment of the lethal weapon serie...
1542,tt1632708,jamie rellis (mila kunis) is a new york city h...,1h 49min,"[Comedy, Romance]",6.6,2011-07-22,jamie reillis (mila kunis) is an executive rec...
654,tt0138097,will shakespeare is a known but struggling poe...,2h 3min,"[Comedy, Drama, History]",7.2,1999-01-08,the film centres around the forbidden love of ...
1453,tt0120338,"84 years later, a 100 year-old woman named ros...",3h 14min,"[Drama, Romance]",7.8,1997-12-19,"in 1996, treasure hunter brock lovett and his ..."
1131,tt0106918,mitch mcdeere is a young man with a promising ...,2h 34min,"[Drama, Mystery, Thriller]",6.8,1993-06-30,

In [14]:
# remove HTML tags
html_pattern = re.compile(r'<.*?>')

matches = reviews["review_text"].str.contains(html_pattern)

htmls = reviews[matches]["review_text"].str.findall(html_pattern)
if len(htmls) > 0:
    print("Number of reviews with HTML tags:", len(htmls))
    print(htmls.sample(10))

# not removing it cuz it might have some useful info and is not HTML tags most of the time

Number of reviews with HTML tags: 229
340879                                                [<c>]
570733                                                [<->]
140080                                  [<{spoiler alert}>]
439447                                     [<12 angry men>]
561230                                [<< ending spoiler >]
351121                                                [<g>]
236774    [<i do not mind the first act of this movie, s...
548973    [<spoiler>, <end spoiler>, <spoiler>, <end spo...
281496                               [<<possible spoilers>]
346501           [<wierd expression and shrug>, <spoilers>]
Name: review_text, dtype: object

In [15]:
# remove numbers and non-alphabetic characters
non_alpha_pattern = re.compile(r'[^a-zA-Z\s]')
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you've seen the trailer then you know johnn...,6,if you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,"this movie was called ""the hobbit"" right? not ..."
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"one or two funny lines, but definitely not wor...",3,this is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm!!!!! for once would you people take a...,7,for once take the movie for what it is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"the dark knight...the best, worst, most thrill...",5,"the dark knight...the best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme. ...,7,"serious script questions aside, the orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"""twelve monkeys"" is odd and disturbing, yet be...",9,intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense. great special e...,10,"amazing originality, suspense, and special eff..."

In [16]:
reviews[["review_text", "review_summary"]] = reviews[["review_text", "review_summary"]].replace(non_alpha_pattern, ' ', regex=True)
movie_details[["plot_summary","plot_synopsis"]] = movie_details[["plot_summary","plot_synopsis"]].replace(non_alpha_pattern, ' ', regex=True)
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you ve seen the trailer then you know johnn...,6,if you ve seen the preview trailer
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,this movie was called the hobbit right not ...
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie
256559,12 April 2017,tt4651520,ur68978145,False,one or two funny lines but definitely not wor...,3,this is a comedy
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm for once would you people take a...,7,for once take the movie for what it is
10779,25 July 2008,tt0468569,ur16687752,False,the dark knight the best worst most thrill...,5,the dark knight the best worst most thrill...
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme ...,7,serious script questions aside the orphan is ...
103447,26 June 2007,tt0114746,ur10994229,False,twelve monkeys is odd and disturbing yet be...,9,intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense great special e...,10,amazing originality suspense and special eff...

## Tokenization

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt_tab')


movie_details["plot_summary"] = movie_details["plot_summary"].apply(word_tokenize)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(word_tokenize)
reviews["review_summary"] = reviews["review_summary"].apply(word_tokenize)
reviews["review_text"] = reviews["review_text"].apply(word_tokenize)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package punkt_tab to /home/ayush/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
150,tt2239822,"[in, the, century, xxviii, the, space, station...",2h 17min,"[Action, Adventure, Fantasy]",6.5,2017-07-21,[]
178,tt0106611,"[irving, blitzer, disgraced, himself, when, pu...",1h 38min,"[Adventure, Comedy, Family]",6.9,1993-10-01,"[in, the, beginning, we, see, derice, bannock,..."
605,tt0926084,"[voldemort, s, power, is, growing, stronger, h...",2h 26min,"[Adventure, Family, Fantasy]",7.7,2010-11-19,"[the, film, begins, with, harry, potter, danie..."
1189,tt0317705,"[bob, parr, a, k, a, mr, incredible, and, his,...",1h 55min,"[Animation, Action, Adventure]",8.0,2004-11-05,[]
541,tt0770828,"[a, young, boy, learns, that, he, has, extraor...",2h 23min,"[Action, Adventure, Fantasy]",7.1,2013-06-14,"[the, story, opens, on, the, planet, krypton, ..."

In [ ]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
489316,20 April 2005,tt0101745,ur0222418,False,"[michael, j, fox, plays, dr, benjamin, stone, ...",8,"[a, movie, with, a, heart]"
400508,23 September 2010,tt0449059,ur2955935,True,"[hollywood, comedies, are, usually, boring, pr...",9,"[an, unusually, original, honest, and, funny, ..."
292696,2 November 2013,tt0232500,ur2898520,False,"[dominic, toretto, vin, diesel, leads, a, grou...",7,"[cars, look, cool, and, babes, look, hot]"
79723,2 June 2012,tt0091251,ur23658345,False,"[i, basically, can, not, say, anything, new, t...",8,"[the, terrible, reality, exposed]"
500744,19 January 2013,tt0108399,ur16120385,True,"[the, spirit, of, elvis, inspires, comic, book...",8,"[nerd, rules]"

In [ ]:
# remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
movie_details["plot_summary"] = movie_details["plot_summary"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_summary"] = reviews["review_summary"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_text"] = reviews["review_text"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package stopwords to /home/ayush/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
181,tt0758746,"[group, young, adults, set, tent, near, abando...",1h 37min,[Horror],5.6,2009-02-13,"[young, friends, whitney, amanda, righetti, mi..."
806,tt0112471,"[american, tourist, jesse, french, student, ce...",1h 41min,"[Drama, Romance]",8.1,1995-01-27,"[film, starts, jesse, meeting, c, line, train,..."
130,tt1663662,"[monstrous, creatures, known, kaiju, started, ...",2h 11min,"[Action, Adventure, Sci-Fi]",7.0,2013-07-12,"[film, begins, deep, beneath, pacific, ocean, ..."
199,tt0099674,"[final, instalment, godfather, trilogy, aging,...",2h 42min,"[Crime, Drama]",7.6,1990-12-25,"[movie, begins, brief, flashback, establishing..."
88,tt0458339,"[america, entered, world, war, ii, sickly, det...",2h 4min,"[Action, Adventure, Sci-Fi]",6.9,2011-07-22,"[bright, headlights, cut, thick, sheet, snow, ..."

In [ ]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
528795,26 October 1998,tt0116329,ur0080957,False,"[seeing, movie, thought, would, rather, sappy,...",10,"[thought, would, sappy]"
118336,5 October 2017,tt1578873,ur44761558,False,"[th, june, much, expected, finale, abc, family...",9,"[pretty, little, liars, new, favorite, guilty,..."
395154,5 December 2006,tt0381061,ur2931656,True,"[daniel, craig, cast, bond, unlike, many, hold...",5,"[nothing, enjoyable, action, flick]"
274560,15 April 2000,tt0144084,ur0035249,False,"[get, guy, head, performance, chilling, extrao...",8,"[great, career, move, christian, bale]"
425420,1 November 2007,tt0418279,ur17288411,True,"[see, film, month, came, uk, blew, away, got, ...",10,"[best, cartoon, adaption, ever]"

## Lemmatization

with POS (part of speech) tagging for better results

In [ ]:
# Not going with stemming as it might remove important context in movie reviews

nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')
nltk.download('averaged_perceptron_tagger_eng')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_with_pos(tokens):
    pos_tagged = nltk.pos_tag(tokens)
    lemmatized_tokens = []
    for word, tag in pos_tagged:
        if tag.startswith('J'):
            pos = 'a'  # adjective
        elif tag.startswith('V'):
            pos = 'v'  # verb
        elif tag.startswith('N'):
            pos = 'n'  # noun
        elif tag.startswith('R'):
            pos = 'r'  # adverb
        else:
            pos = 'n'  # default to noun
        lemmatized_tokens.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_tokens

movie_details["plot_summary"] = movie_details["plot_summary"].apply(lemmatize_with_pos)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lemmatize_with_pos)
reviews["review_summary"] = reviews["review_summary"].apply(lemmatize_with_pos)
reviews["review_text"] = reviews["review_text"].apply(lemmatize_with_pos)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package wordnet to /home/ayush/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/ayush/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1036,tt1403981,"[romantic, drama, set, new, york, city, summer...",1h 53min,"[Drama, Romance]",7.2,2010-03-12,"[movie, open, year, old, girl, mother, stand, ..."
1492,tt0120738,"[year, earth, soon, uninhabitable, irreversibl...",2h 10min,"[Action, Adventure, Family]",5.1,1998-04-03,"[year, earth, soon, uninhabitable, irreversibl..."
1416,tt0112384,"[base, true, story, ill, fat, th, apollo, miss...",2h 20min,"[Adventure, Drama, History]",7.6,1995-06-30,"[film, start, july, home, astronaut, jim, love..."
206,tt1601913,"[alaska, team, oil, worker, board, flight, hom...",1h 57min,"[Action, Adventure, Drama]",6.8,2012-01-27,"[john, ottway, liam, neeson, work, alaska, kil..."
647,tt0407887,"[south, boston, state, police, force, wag, war...",2h 31min,"[Crime, Drama, Thriller]",8.5,2006-10-06,"[voiceover, irish, american, mobster, frank, c..."

In [ ]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[see, trailer, know, johnny, depp, look, reall...",6,"[see, preview, trailer]"
179207,18 December 2013,tt1170358,ur26165972,True,"[make, sad, mistake, see, midnight, show, movi...",6,"[movie, call, hobbit, right, wood, elf]"
141046,11 March 2012,tt0780504,ur32327829,False,"[rain, outside, movie, tnt, something, might, ...",1,"[bore, bad, movie]"
256559,12 April 2017,tt4651520,ur68978145,False,"[one, two, funny, line, definitely, worth, hou...",3,[comedy]
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, nothing, like, regular, disney, far...",10,"[regular, disney, fare]"

In [ ]:
# save preprocessed data

movie_details.to_feather("preprocessed_movie_details.feather")
reviews.to_feather("preprocessed_reviews.feather")