# Data Preprocessing

References:
- https://medium.com/@maleeshadesilva21/preprocessing-steps-for-natural-language-processing-nlp-a-beginners-guide-d6d9bf7689c9

In [1]:
import kagglehub

path = kagglehub.dataset_download("rmisra/imdb-spoiler-dataset")
# print("Path to dataset files:", path)

/home/ayush/anaconda3/envs/pp/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd

movie_details = pd.read_json(path + "/IMDB_movie_details.json", lines=True)
reviews = pd.read_json(path + "/IMDB_reviews.json", lines=True)

In [3]:
# sample randomly

movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
161,tt0060107,Andreiv Rublev charts the life of the great ic...,3h 25min,"[Biography, Drama, History]",8.3,1973,Director Andrei Tarkovsky shows the beautiful ...
404,tt0185937,Three film students travel to Maryland to make...,1h 21min,"[Horror, Mystery]",6.4,1999-07-30,"Three film students go to Burkittsville, Maryl..."
21,tt0114814,"Following a truck hijack in New York, five con...",1h 46min,"[Crime, Drama, Mystery]",8.6,1995-09-15,"On the deck of a ship in San Pedro, California..."
1041,tt0119432,Michael Cromwell is a successful albeit self-a...,1h 45min,"[Comedy, Family]",5.1,1997-03-07,"Michael Cromwell(Tim Allen),is a self-absorbed..."
837,tt0086250,Tony Montana manages to leave Cuba during the ...,2h 50min,"[Crime, Drama]",8.3,1983-12-09,"In May 1980, a Cuban man named Tony Montana (A..."
1123,tt0117509,"The classic story of Romeo and Juliet, set in ...",2h,"[Drama, Romance]",6.8,1996-11-01,The story revolves around three families from ...
977,tt0108002,Rudy grew up in a steel mill town where most p...,1h 54min,"[Biography, Drama, Sport]",7.5,1993-10-22,Rudy Ruettiger (Sean Astin) grows up in a Cath...
1030,tt0396752,Mr. Cedric Brown has just lost his wife and is...,1h 37min,"[Comedy, Family, Fantasy]",6.6,2006-01-27,
1168,tt0373889,"After a lonely summer on Privet Drive, Harry r...",2h 18min,"[Adventure, Family, Fantasy]",7.5,2007-07-11,Harry Potter and his cousin Dudley Dursley are...
194,tt2015381,After stealing a mysterious orb in the far rea...,2h 1min,"[Action, Adventure, Sci-Fi]",8.1,2014-08-01,"On planet Earth in 1988, young Peter Quill (Wy..."

In [4]:
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
24500,5 December 2016,tt0073486,ur0914942,False,"Age is relative, but I am old enough to rememb...",10,Simply outstanding - holds up well (as of 2016)
123501,19 November 2010,tt0926084,ur17278734,False,"Waiting in line at 6:30 on November the 19th, ...",10,The Beginning of the End
149446,5 April 2011,tt0945513,ur4593705,False,Air Force helicopter pilot Colter Stevens(Jake...,9,"Quantum Leap, Groundhog Day, Deja Vu, Inceptio..."
259074,5 November 2016,tt2140479,ur58985099,False,"I liked this film a lot, although it's not the...",8,A Slow Burn Thriller That Defies Expectations
240901,22 January 2016,tt3332064,ur65050039,False,I actually liked this movie it was very invent...,7,Very Inventive
248452,19 May 2016,tt3385516,ur35706992,True,I agree with other reviewers here. How the cri...,10,Wonderful. THIS IS X-MEN.
429591,9 June 2007,tt0449088,ur1231696,True,After the end credits of POTC3 which last fift...,1,grotesque
282803,10 August 2001,tt0207201,ur1235078,False,I have to say that this film was dreadful. Mel...,2,A comedy with few jokes and women with no brains
553046,20 August 2006,tt0122151,ur7353139,False,I absolutely adored this movie. The cinematogr...,10,Amazing! Spectacular! Incredible! Fantastic! T...
70306,23 December 2012,tt0268978,ur38639519,True,Sylvia Nasar does a superb job of informing re...,10,that was awesome!

In [5]:
movie_details.describe()

            rating
count  1572.000000
mean      7.071819
std       0.967966
min       2.400000
25%       6.500000
50%       7.100000
75%       7.800000
max       9.500000

In [6]:
reviews.describe()

              rating
count  573913.000000
mean        6.954254
std         2.956295
min         1.000000
25%         5.000000
50%         8.000000
75%        10.000000
max        10.000000

In [7]:
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       1572 non-null   object
 1   plot_summary   1572 non-null   object
 2   duration       1572 non-null   object
 3   genre          1572 non-null   object
 4   rating         1572 non-null   float64
 5   release_date   1572 non-null   object
 6   plot_synopsis  1572 non-null   object
dtypes: float64(1), object(6)
memory usage: 86.1+ KB

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573913 entries, 0 to 573912
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_date     573913 non-null  object
 1   movie_id        573913 non-null  object
 2   user_id         573913 non-null  object
 3   is_spoiler      573913 non-null  bool
 4   review_text     573913 non-null  object
 5   rating          573913 non-null  int64
 6   review_summary  573913 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 26.8+ MB

## Text cleaning

In [9]:
# save original text before cleaning
reviews["original_review_text"] = reviews["review_text"]
reviews["original_review_summary"] = reviews["review_summary"]

movie_details["original_plot_summary"] = movie_details["plot_summary"]
movie_details["original_plot_synopsis"] = movie_details["plot_synopsis"]

### Lowercasing

In [10]:
# convert to lowercase

movie_details["plot_summary"] = movie_details["plot_summary"].map(lambda x: x.lower())
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].map(lambda x: x.lower())
movie_details.sample(5)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis,original_plot_summary,original_plot_synopsis
473,tt2094766,through a revolutionary technology that unlock...,1h 55min,"[Action, Adventure, Fantasy]",5.8,2016-12-21,"spain, 1492the knights of the templar order ar...",Through a revolutionary technology that unlock...,"Spain, 1492The Knights of the Templar Order ar..."
81,tt0120828,taking a romantic tropical island week off wit...,1h 38min,"[Action, Adventure, Comedy]",5.8,1998-06-12,,Taking a romantic tropical island week off wit...,
1503,tt0366548,this is the story of a little penguin named mu...,1h 48min,"[Animation, Comedy, Family]",6.5,2006-11-17,when mumble is born into a colony of emperor p...,This is the story of a little penguin named Mu...,When Mumble is born into a colony of Emperor p...
1214,tt0369339,la cabbie max durocher is the type of person w...,1h 55min,"[Crime, Drama, Thriller]",7.6,2004-08-06,max is a cab driver in los angeles. one night ...,LA cabbie Max Durocher is the type of person w...,Max is a cab driver in Los Angeles. One night ...
1189,tt0317705,"bob parr (a.k.a. mr. incredible), and his wife...",1h 55min,"[Animation, Action, Adventure]",8.0,2004-11-05,,"Bob Parr (A.K.A. Mr. Incredible), and his wife...",

In [11]:
reviews["review_summary"] = reviews["review_summary"].map(lambda x: x.lower())
reviews["review_text"] = reviews["review_text"].map(lambda x: x.lower())
reviews.sample(5)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
34490,29 October 2006,tt0407887,ur2891418,True,this was a very good film and i would recommen...,7,"great performances - but over rated, over all",This was a very good film and I would recommen...,"Great performances - but over rated, over all"
5719,27 September 2010,tt0068646,ur8503729,False,'the godfather' left me in many emotions. luck...,10,does power always get it right ?,'The Godfather' left me in many emotions. Luck...,Does Power Always Get It Right ?
252936,1 July 2016,tt0803096,ur67817841,False,"first of all, i know a lot about warcraft lore...",8,"warcraft, first good video game movie ?","First of all, I know a lot about warcraft lore...","Warcraft, first good video game movie ?"
239740,3 September 2017,tt1823672,ur80088528,False,if a movie wanted to explore the moral issues ...,1,this is truly horrible.,If a movie wanted to explore the moral issues ...,This is truly horrible.
462611,29 December 2009,tt0499549,ur22611729,False,"so, i'm not a reviewer but just got back from ...",10,unique in site in humanity,"So, I'm not a reviewer but just got back from ...",Unique in site in humanity

### URLs removal

In [12]:
# remove URLs
import re

# pd.set_option('display.max_colwidth', None)
url_pattern = re.compile(r'https?://\S+')

# Use str.contains to get a boolean Series (True if a URL is present).
matches = reviews["review_text"].str.contains(url_pattern)

# show some urls
review_urls = reviews[matches]["review_text"].str.findall(url_pattern)
if len(review_urls) > 0:
    print("Number of reviews with URLs:", len(review_urls))
    print(review_urls.sample(10))

Number of reviews with URLs: 4404
304407    [http://www.imdb.com/title/tt0073488/, http://...
553917                        [http://moviemusereviews.com]
201710    [http://www.imdb.com/title/tt2015381/reviews-6...
482634                  [http://bobafett1138.blogspot.com/]
134482                     [http://neonboy619.blogspot.com]
117798      [https://www.youtube.com/watch?v=wyzs7cpg-fmdo]
83861                             [http://pre-code.com/wp-]
99582     [http://thewrongtreemoviereviews.blogspot.co.uk/]
257997    [https://en.wikipedia.org/wiki/xulhaz_mannanht...
508488                        [http://moviesreview101.com/]
Name: review_text, dtype: object

In [13]:
# remove URLs from all text
reviews = reviews.replace(url_pattern, '', regex=True)
movie_details = movie_details.replace(url_pattern, '', regex=True)
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
39007,20 May 2017,tt0078748,ur73361392,False,"one of the most original, suspenseful & terrif...",10,in space no one can hear you scream,"One of the most original, suspenseful & terrif...",In space no one can hear you scream
122898,5 July 2011,tt0435761,ur26648587,False,toy story. i love it. when i was a kid i never...,7,i don't know...,Toy Story. I love it. When I was a kid I never...,I don't know...
53525,18 November 2002,tt0056592,ur0063423,False,"taken all in all, in terms of the themes handl...",10,best movie of all time,"Taken all in all, in terms of the themes handl...",Best movie of all time
84674,4 March 2017,tt3315342,ur24623283,True,since the inaugaration of the x-men franchise ...,9,"gritty, visceral, and emotionally stunning, lo...",Since the inaugaration of the X-men franchise ...,"Gritty, visceral, and emotionally stunning, Lo..."
393311,24 July 2006,tt0294870,ur11565437,False,i saw this movie first at my friends house and...,10,i loved it,I saw this movie first at my friends house and...,i loved it
87586,21 June 2013,tt0052618,ur44441328,False,"magnificent scenes, moving plot and excellent ...",8,it's great!,"Magnificent scenes, moving plot and excellent ...",It's great!
469097,19 August 2009,tt1136608,ur10435109,True,the concept of this movie could have been so m...,1,the concept of this movie could have been so m...,The concept of this movie could have been so m...,The concept of this movie could have been so m...
16460,18 December 2003,tt0167260,ur2449095,False,the journey comes to an end. for me the final ...,8,the end of the journey,The journey comes to an end. For me the final ...,The end of the Journey
44919,7 March 2007,tt0364569,ur14515688,False,"oldboy takes a hammer and ""batters"" its americ...",9,one step ahead of america,"Oldboy takes a hammer and ""batters"" its Americ...",One step ahead of America
475196,27 September 2009,tt1131734,ur12172991,False,"for a moment, folks, can we forget that juno s...",7,don't believe all the bad hype,"For a moment, folks, can we forget that Juno s...",Don't Believe All The Bad Hype

In [14]:
movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis,original_plot_summary,original_plot_synopsis
712,tt0097165,painfully shy todd anderson has been sent to t...,2h 8min,"[Comedy, Drama]",8.0,1989-06-09,"new england, the late 1950s. todd anderson (et...",Painfully shy Todd Anderson has been sent to t...,"New England, the late 1950s. Todd Anderson (Et..."
282,tt0832266,"romantic comedy: will hayes, a 30-something ma...",1h 52min,"[Comedy, Drama, Romance]",7.2,2008-02-14,will hayes (ryan reynolds) is a 38-year-old fa...,"Romantic comedy: Will Hayes, a 30-something Ma...",Will Hayes (Ryan Reynolds) is a 38-year-old fa...
1506,tt0372588,the north american counter-terrorism force tea...,1h 38min,"[Action, Comedy]",7.2,2004-10-15,team america: world police exists for the sole...,The North American counter-terrorism force Tea...,Team America: World Police exists for the sole...
1159,tt0053125,madison avenue advertising man roger thornhill...,2h 16min,"[Action, Adventure, Mystery]",8.4,1959-09-26,"at the end of an ordinary work day, advertisin...",Madison Avenue advertising man Roger Thornhill...,"At the end of an ordinary work day, advertisin..."
919,tt2692250,"at the museum of natural history, there's a ne...",1h 38min,"[Adventure, Comedy, Family]",6.2,2014-12-19,in this third film of the 'night at the museum...,"At the Museum of Natural History, there's a ne...",In this third film of the 'Night at the Museum...
490,tt0385752,it was no ordinary life for a young girl: livi...,1h 53min,"[Adventure, Family, Fantasy]",6.1,2007-12-07,lyra belacqua (dakota blue richards) is (osten...,It was no ordinary life for a young girl: livi...,Lyra Belacqua (Dakota Blue Richards) is (osten...
1078,tt1855199,"in south central los angeles, street cops bria...",1h 49min,"[Action, Crime, Drama]",7.7,2012-09-21,police officers brian taylor (jake gyllenhall)...,"In South Central Los Angeles, street cops Bria...",Police officers Brian Taylor (Jake Gyllenhall)...
916,tt0830515,"is there solace in revenge? bond and ""m"" sniff...",1h 46min,"[Action, Adventure, Thriller]",6.6,2008-11-14,the film opens soon after the events of casino...,"Is there solace in revenge? Bond and ""M"" sniff...",The film opens soon after the events of Casino...
1110,tt0109813,the flintstones and the rubbles are modern sto...,1h 31min,"[Comedy, Family, Fantasy]",4.8,1994-05-27,,The Flintstones and the Rubbles are modern sto...,
1171,tt0103919,helen lyle is a student who decides to write a...,1h 39min,"[Horror, Thriller]",6.6,1992-10-16,helen lyle (virginia masden) is an affluent yo...,Helen Lyle is a student who decides to write a...,Helen Lyle (Virginia Masden) is an affluent yo...

### Remove HTML tags 
(might remove useful info)

In [15]:
# remove HTML tags
html_pattern = re.compile(r'<.*?>')

matches = reviews["review_text"].str.contains(html_pattern)

htmls = reviews[matches]["review_text"].str.findall(html_pattern)
if len(htmls) > 0:
    print("Number of reviews with HTML tags:", len(htmls))
    print(htmls.sample(10))

# not removing it cuz it might have some useful info and is not HTML tags most of the time

Number of reviews with HTML tags: 229
427201    [<-- while he jumps from building to building ...
508809                                              [<i'm>]
360677                                             [<yawn>]
306443                       [<==========================>]
426134    [<<< spoiler alert -- rest of this commentary!...
279369                                      [<funny parts>]
570534                                             [<grin>]
760                          [<<warning: extreme spoilers>]
116497    [< especially for last years, thanks to our go...
37205                               [<3 ;) the story is =>]
Name: review_text, dtype: object

### Remove non alphabetic characters

In [16]:
# remove numbers and non-alphabetic characters
non_alpha_pattern = re.compile(r'[^a-zA-Z\s]')
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you've seen the trailer then you know johnn...,6,if you've seen the preview trailer....,If you've seen the trailer then you know Johnn...,If you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,"this movie was called ""the hobbit"" right? not ...",I made the sad mistake of seeing the midnight ...,"This movie was called ""The Hobbit"" right? Not ..."
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie.,If it was raining outside and this movie was o...,Boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"one or two funny lines, but definitely not wor...",3,this is a comedy??,"One or two funny lines, but definitely not wor...",This is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare,Zootopia is nothing like your regular Disney f...,Regular Disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm!!!!! for once would you people take a...,7,for once take the movie for what it is!!!!!!!!!,DAHMMMMM!!!!! For once would you people take a...,For Once Take The Movie For What It Is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"the dark knight...the best, worst, most thrill...",5,"the dark knight...the best, worst, most thrill...","The Dark Knight...The best, worst, most thrill...","The Dark Knight...The best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme. ...,7,"serious script questions aside, the orphan is ...",The Orphan is a movie that uses an old theme. ...,"Serious script questions aside, The Orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"""twelve monkeys"" is odd and disturbing, yet be...",9,intelligence in its purest form,"""Twelve Monkeys"" is odd and disturbing, yet be...",Intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense. great special e...,10,"amazing originality, suspense, and special eff...",This movie has great suspense. Great special e...,"Amazing Originality, Suspense, and Special Eff..."

In [17]:
reviews[["review_text", "review_summary"]] = reviews[["review_text", "review_summary"]].replace(non_alpha_pattern, ' ', regex=True)
movie_details[["plot_summary","plot_synopsis"]] = movie_details[["plot_summary","plot_synopsis"]].replace(non_alpha_pattern, ' ', regex=True)
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you ve seen the trailer then you know johnn...,6,if you ve seen the preview trailer,If you've seen the trailer then you know Johnn...,If you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,this movie was called the hobbit right not ...,I made the sad mistake of seeing the midnight ...,"This movie was called ""The Hobbit"" right? Not ..."
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie,If it was raining outside and this movie was o...,Boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,one or two funny lines but definitely not wor...,3,this is a comedy,"One or two funny lines, but definitely not wor...",This is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare,Zootopia is nothing like your regular Disney f...,Regular Disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm for once would you people take a...,7,for once take the movie for what it is,DAHMMMMM!!!!! For once would you people take a...,For Once Take The Movie For What It Is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,the dark knight the best worst most thrill...,5,the dark knight the best worst most thrill...,"The Dark Knight...The best, worst, most thrill...","The Dark Knight...The best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme ...,7,serious script questions aside the orphan is ...,The Orphan is a movie that uses an old theme. ...,"Serious script questions aside, The Orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,twelve monkeys is odd and disturbing yet be...,9,intelligence in its purest form,"""Twelve Monkeys"" is odd and disturbing, yet be...",Intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense great special e...,10,amazing originality suspense and special eff...,This movie has great suspense. Great special e...,"Amazing Originality, Suspense, and Special Eff..."

## Tokenization

In [18]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt_tab')


movie_details["plot_summary"] = movie_details["plot_summary"].apply(word_tokenize)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(word_tokenize)
reviews["review_summary"] = reviews["review_summary"].apply(word_tokenize)
reviews["review_text"] = reviews["review_text"].apply(word_tokenize)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package punkt_tab to /home/ayush/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis,original_plot_summary,original_plot_synopsis
1536,tt0109686,"[harry, and, lloyd, are, two, good, friends, w...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, is, a, simple, minded, limo...",Harry and Lloyd are two good friends who happe...,Lloyd Christmas is a simple-minded limousine d...
1563,tt0120655,"[an, abortion, clinic, worker, with, a, specia...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[the, film, opens, with, a, homeless, man, bud...",An abortion clinic worker with a special herit...,The film opens with a homeless man (Bud Cort) ...
450,tt0117998,"[tv, weatherman, bill, harding, is, trying, to...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[in, june, a, young, family, takes, shelter, f...",TV weatherman Bill Harding is trying to get hi...,"In June 1969, a young family takes shelter fro..."
50,tt0120363,"[while, andy, is, away, at, summer, camp, wood...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[as, the, movie, begins, woody, is, excited, t...",While Andy is away at summer camp Woody has be...,"As the movie begins, Woody is excited to be go..."
1440,tt0068646,"[when, the, aging, head, of, a, famous, crime,...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[in, late, summer, guests, are, gathered, for,...",When the aging head of a famous crime family d...,"In late summer 1945, guests are gathered for t..."
840,tt0118971,"[kevin, lomax, a, ruthless, young, florida, at...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeves, is, a, successfu...","Kevin Lomax, a ruthless young Florida attorney...",Kevin Lomax (Keanu Reeves) is a successful def...
31,tt0082096,"[it, is, and, the, german, submarine, fleet, i...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[the, movie, opens, with, a, screen, noting, t...",It is 1942 and the German submarine fleet is h...,"The movie opens with a screen noting that 40,0..."
147,tt0138704,"[max, is, a, genius, mathematician, who, s, bu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[the, film, is, about, a, mathematical, genius...",Max is a genius mathematician who's built a su...,"The film is about a mathematical genius, Maxim..."
860,tt0100395,"[substance, addicted, hollywood, actress, suza...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[],Substance-addicted Hollywood actress Suzanne V...,
556,tt0102526,"[the, gangster, nino, has, a, gang, who, call,...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipes, is, an, up, and,...",The gangster Nino has a gang who call themselv...,Nino Brown (Wesley Snipes) is an up-and-coming...

In [19]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[if, you, ve, seen, the, trailer, then, you, k...",6,"[if, you, ve, seen, the, preview, trailer]",If you've seen the trailer then you know Johnn...,If you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,"[i, made, the, sad, mistake, of, seeing, the, ...",6,"[this, movie, was, called, the, hobbit, right,...",I made the sad mistake of seeing the midnight ...,"This movie was called ""The Hobbit"" right? Not ..."
141046,11 March 2012,tt0780504,ur32327829,False,"[if, it, was, raining, outside, and, this, mov...",1,"[boring, and, just, a, bad, movie]",If it was raining outside and this movie was o...,Boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"[one, or, two, funny, lines, but, definitely, ...",3,"[this, is, a, comedy]","One or two funny lines, but definitely not wor...",This is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, is, nothing, like, your, regular, d...",10,"[regular, disney, fare]",Zootopia is nothing like your regular Disney f...,Regular Disney fare
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, for, once, would, you, people, take...",7,"[for, once, take, the, movie, for, what, it, is]",DAHMMMMM!!!!! For once would you people take a...,For Once Take The Movie For What It Is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"[the, dark, knight, the, best, worst, most, th...",5,"[the, dark, knight, the, best, worst, most, th...","The Dark Knight...The best, worst, most thrill...","The Dark Knight...The best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,"[the, orphan, is, a, movie, that, uses, an, ol...",7,"[serious, script, questions, aside, the, orpha...",The Orphan is a movie that uses an old theme. ...,"Serious script questions aside, The Orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkeys, is, odd, and, disturbing, ye...",9,"[intelligence, in, its, purest, form]","""Twelve Monkeys"" is odd and disturbing, yet be...",Intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,"[this, movie, has, great, suspense, great, spe...",10,"[amazing, originality, suspense, and, special,...",This movie has great suspense. Great special e...,"Amazing Originality, Suspense, and Special Eff..."

In [20]:
# remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
movie_details["plot_summary"] = movie_details["plot_summary"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_summary"] = reviews["review_summary"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_text"] = reviews["review_text"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package stopwords to /home/ayush/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis,original_plot_summary,original_plot_synopsis
1536,tt0109686,"[harry, lloyd, two, good, friends, happen, rea...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, simple, minded, limousine, ...",Harry and Lloyd are two good friends who happe...,Lloyd Christmas is a simple-minded limousine d...
1563,tt0120655,"[abortion, clinic, worker, special, heritage, ...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[film, opens, homeless, man, bud, cort, desert...",An abortion clinic worker with a special herit...,The film opens with a homeless man (Bud Cort) ...
450,tt0117998,"[tv, weatherman, bill, harding, trying, get, t...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[june, young, family, takes, shelter, impendin...",TV weatherman Bill Harding is trying to get hi...,"In June 1969, a young family takes shelter fro..."
50,tt0120363,"[andy, away, summer, camp, woody, toynapped, a...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[movie, begins, woody, excited, going, cowboy,...",While Andy is away at summer camp Woody has be...,"As the movie begins, Woody is excited to be go..."
1440,tt0068646,"[aging, head, famous, crime, family, decides, ...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[late, summer, guests, gathered, wedding, rece...",When the aging head of a famous crime family d...,"In late summer 1945, guests are gathered for t..."
840,tt0118971,"[kevin, lomax, ruthless, young, florida, attor...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeves, successful, defe...","Kevin Lomax, a ruthless young Florida attorney...",Kevin Lomax (Keanu Reeves) is a successful def...
31,tt0082096,"[german, submarine, fleet, heavily, engaged, c...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[movie, opens, screen, noting, germans, went, ...",It is 1942 and the German submarine fleet is h...,"The movie opens with a screen noting that 40,0..."
147,tt0138704,"[max, genius, mathematician, built, supercompu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[film, mathematical, genius, maximilian, cohen...",Max is a genius mathematician who's built a su...,"The film is about a mathematical genius, Maxim..."
860,tt0100395,"[substance, addicted, hollywood, actress, suza...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[],Substance-addicted Hollywood actress Suzanne V...,
556,tt0102526,"[gangster, nino, gang, call, cash, money, brot...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipes, coming, drug, pu...",The gangster Nino has a gang who call themselv...,Nino Brown (Wesley Snipes) is an up-and-coming...

In [21]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[seen, trailer, know, johnny, depp, looks, rea...",6,"[seen, preview, trailer]",If you've seen the trailer then you know Johnn...,If you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,"[made, sad, mistake, seeing, midnight, showing...",6,"[movie, called, hobbit, right, wood, elf]",I made the sad mistake of seeing the midnight ...,"This movie was called ""The Hobbit"" right? Not ..."
141046,11 March 2012,tt0780504,ur32327829,False,"[raining, outside, movie, tnt, something, migh...",1,"[boring, bad, movie]",If it was raining outside and this movie was o...,Boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"[one, two, funny, lines, definitely, worth, ho...",3,[comedy],"One or two funny lines, but definitely not wor...",This is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, nothing, like, regular, disney, far...",10,"[regular, disney, fare]",Zootopia is nothing like your regular Disney f...,Regular Disney fare
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, would, people, take, movie, every, ...",7,"[take, movie]",DAHMMMMM!!!!! For once would you people take a...,For Once Take The Movie For What It Is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"[dark, knight, best, worst, thrilling, annoyin...",5,"[dark, knight, best, worst, thrilling, annoyin...","The Dark Knight...The best, worst, most thrill...","The Dark Knight...The best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,"[orphan, movie, uses, old, theme, scary, kid, ...",7,"[serious, script, questions, aside, orphan, go...",The Orphan is a movie that uses an old theme. ...,"Serious script questions aside, The Orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkeys, odd, disturbing, yet, clever...",9,"[intelligence, purest, form]","""Twelve Monkeys"" is odd and disturbing, yet be...",Intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,"[movie, great, suspense, great, special, effec...",10,"[amazing, originality, suspense, special, effe...",This movie has great suspense. Great special e...,"Amazing Originality, Suspense, and Special Eff..."

## Lemmatization

with POS (part of speech) tagging for better results
(ex: leaves -> leaf (noun) vs leave (verb))

In [22]:
# Not going with stemming as it might remove important context in movie reviews

nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')
nltk.download('averaged_perceptron_tagger_eng')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_with_pos(tokens):
    pos_tagged = nltk.pos_tag(tokens)
    lemmatized_tokens = []
    for word, tag in pos_tagged:
        if tag.startswith('J'):
            pos = 'a'  # adjective
        elif tag.startswith('V'):
            pos = 'v'  # verb
        elif tag.startswith('N'):
            pos = 'n'  # noun
        elif tag.startswith('R'):
            pos = 'r'  # adverb
        else:
            pos = 'n'  # default to noun
        lemmatized_tokens.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_tokens

movie_details["plot_summary"] = movie_details["plot_summary"].apply(lemmatize_with_pos)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lemmatize_with_pos)
reviews["review_summary"] = reviews["review_summary"].apply(lemmatize_with_pos)
reviews["review_text"] = reviews["review_text"].apply(lemmatize_with_pos)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package wordnet to /home/ayush/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/ayush/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis,original_plot_summary,original_plot_synopsis
1536,tt0109686,"[harry, lloyd, two, good, friend, happen, real...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, simple, mind, limousine, dr...",Harry and Lloyd are two good friends who happe...,Lloyd Christmas is a simple-minded limousine d...
1563,tt0120655,"[abortion, clinic, worker, special, heritage, ...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[film, open, homeless, man, bud, cort, desert,...",An abortion clinic worker with a special herit...,The film opens with a homeless man (Bud Cort) ...
450,tt0117998,"[tv, weatherman, bill, harding, try, get, torn...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[june, young, family, take, shelter, impend, t...",TV weatherman Bill Harding is trying to get hi...,"In June 1969, a young family takes shelter fro..."
50,tt0120363,"[andy, away, summer, camp, woody, toynapped, a...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[movie, begin, woody, excite, go, cowboy, camp...",While Andy is away at summer camp Woody has be...,"As the movie begins, Woody is excited to be go..."
1440,tt0068646,"[age, head, famous, crime, family, decide, tra...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[late, summer, guest, gather, wed, reception, ...",When the aging head of a famous crime family d...,"In late summer 1945, guests are gathered for t..."
840,tt0118971,"[kevin, lomax, ruthless, young, florida, attor...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeve, successful, defen...","Kevin Lomax, a ruthless young Florida attorney...",Kevin Lomax (Keanu Reeves) is a successful def...
31,tt0082096,"[german, submarine, fleet, heavily, engage, ca...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[movie, open, screen, note, german, go, submar...",It is 1942 and the German submarine fleet is h...,"The movie opens with a screen noting that 40,0..."
147,tt0138704,"[max, genius, mathematician, build, supercompu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[film, mathematical, genius, maximilian, cohen...",Max is a genius mathematician who's built a su...,"The film is about a mathematical genius, Maxim..."
860,tt0100395,"[substance, addict, hollywood, actress, suzann...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[],Substance-addicted Hollywood actress Suzanne V...,
556,tt0102526,"[gangster, nino, gang, call, cash, money, brot...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipe, come, drug, pushe...",The gangster Nino has a gang who call themselv...,Nino Brown (Wesley Snipes) is an up-and-coming...

In [23]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary,original_review_text,original_review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[see, trailer, know, johnny, depp, look, reall...",6,"[see, preview, trailer]",If you've seen the trailer then you know Johnn...,If you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,"[make, sad, mistake, see, midnight, show, movi...",6,"[movie, call, hobbit, right, wood, elf]",I made the sad mistake of seeing the midnight ...,"This movie was called ""The Hobbit"" right? Not ..."
141046,11 March 2012,tt0780504,ur32327829,False,"[rain, outside, movie, tnt, something, might, ...",1,"[bore, bad, movie]",If it was raining outside and this movie was o...,Boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"[one, two, funny, line, definitely, worth, hou...",3,[comedy],"One or two funny lines, but definitely not wor...",This is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, nothing, like, regular, disney, far...",10,"[regular, disney, fare]",Zootopia is nothing like your regular Disney f...,Regular Disney fare
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, would, people, take, movie, every, ...",7,"[take, movie]",DAHMMMMM!!!!! For once would you people take a...,For Once Take The Movie For What It Is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"[dark, knight, best, worst, thrill, annoy, fil...",5,"[dark, knight, best, worst, thrill, annoy, fil...","The Dark Knight...The best, worst, most thrill...","The Dark Knight...The best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,"[orphan, movie, use, old, theme, scary, kid, o...",7,"[serious, script, question, aside, orphan, goo...",The Orphan is a movie that uses an old theme. ...,"Serious script questions aside, The Orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkey, odd, disturb, yet, clever, in...",9,"[intelligence, pure, form]","""Twelve Monkeys"" is odd and disturbing, yet be...",Intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,"[movie, great, suspense, great, special, effec...",10,"[amaze, originality, suspense, special, effect]",This movie has great suspense. Great special e...,"Amazing Originality, Suspense, and Special Eff..."

## Feature Engineering

### Named Entity Recognition (NER)

In [24]:
# performing on original text and not cleaned text cuz NER neeeeds context

import spacy
from collections import Counter
# !python -m spacy download en_core_web_sm

nlp = spacy.load("en_core_web_sm", disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])
def count_named_entities(text):
    doc = nlp(text)

    entity_counts = Counter([ent.label_ for ent in doc.ents])
    return entity_counts

reviews["review_text_ner"] = reviews["original_review_text"].apply(count_named_entities)
reviews["review_summary_ner"] = reviews["original_review_summary"].apply(count_named_entities)

In [ ]:
# save preprocessed data

movie_details.to_feather("../data/preprocessed_movie_details.feather")
reviews.to_feather("../data/preprocessed_reviews.feather")