## Data Preprocessing

References:
- https://medium.com/@maleeshadesilva21/preprocessing-steps-for-natural-language-processing-nlp-a-beginners-guide-d6d9bf7689c9

In [1]:
import kagglehub

path = kagglehub.dataset_download("rmisra/imdb-spoiler-dataset")
# print("Path to dataset files:", path)

/home/ayush/anaconda3/envs/pp/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd

movie_details = pd.read_json(path + "/IMDB_movie_details.json", lines=True)
reviews = pd.read_json(path + "/IMDB_reviews.json", lines=True)

In [3]:
# sample randomly

movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
963,tt0102494,Mike Waters lives on the street and befriends ...,1h 44min,[Drama],7.1,1991-07-20,
658,tt0441773,"It's the story about a lazy, irreverent slacke...",1h 32min,"[Animation, Action, Adventure]",7.6,2008-06-06,"""Legend tells of a legendary warrior whose kun..."
1275,tt0100140,"After yet another failed relationship, Mrs. Fl...",1h 50min,"[Comedy, Drama, Romance]",6.6,1990-12-14,Moving is what Rachel Flax is great at. And by...
822,tt1716772,"Best friends Will McKenzie, Simon Cooper, Jay ...",1h 37min,[Comedy],6.8,2011-08-17,"Four teenage misfits - Will, Simon, Jay and Ne..."
682,tt0218839,The owners (and handlers) of five show dogs he...,1h 30min,[Comedy],7.5,2000-10-20,Best in Show is presented as a documentary of ...
1164,tt0118583,Ellen Ripley sacrificed herself to destroy the...,1h 49min,"[Action, Horror, Sci-Fi]",6.2,1997-11-26,"200 years after the events of Alien 3, scienti..."
1259,tt0290334,Several months have passed since The X-Men def...,2h 14min,"[Action, Adventure, Fantasy]",7.5,2003-05-02,"A mutant, Nightcrawler (Alan Cumming) tries to..."
95,tt1228705,With the world now aware of his dual life as t...,2h 4min,"[Action, Adventure, Sci-Fi]",7.0,2010-05-07,The movie opens several months after the event...
651,tt2126355,"In San Andreas, California is experiencing a s...",1h 54min,"[Action, Adventure, Drama]",6.1,2015-05-29,"The film opens with the girl, Natalie (Morgan ..."
795,tt1132620,"Forty years ago, Harriet Vanger disappeared fr...",2h 32min,"[Drama, Mystery, Thriller]",7.8,2010-04-30,"Mikael Blomkvist, a journalist who works for t..."

In [4]:
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
339861,8 March 2005,tt0320691,ur1815325,True,"I've watched this movie about 20 times now, an...",10,Absolutely the best of its genre
382863,18 July 2005,tt0407304,ur5120278,True,"A great rollicking, shocking thriller. And the...",7,Do yourself a favour and leave before the end
191804,17 February 2014,tt1091191,ur17086611,True,"After viewing Lone Survivor, I was disappointe...",1,Lousy on many levels
125836,26 December 2010,tt1104001,ur0806494,False,Greetings again from the darkness. My guess is...,6,Lost track of time
159828,3 April 2013,tt1446192,ur42092554,False,Absolutely brilliant!!!!!! The animation is am...,10,One of the best films I have ever watched :):)...
309911,18 June 2016,tt0145487,ur28706163,False,I truly don't know what to say about this movi...,10,Oh yeah !
266726,12 December 2017,tt2543472,ur0503545,False,The movie directed by Stephen Chbosky is about...,10,Caring Love and Confidence
563623,20 May 2012,tt0162661,ur25328854,False,"There once was a Town known as Sleepy Hollow, ...",10,the horseman rides again!
489482,11 December 2003,tt0102558,ur2484653,False,"1st of all,I had no idea this was a comedy. I ...",10,Enthralling!
434037,16 November 2017,tt0448134,ur82400071,True,"""Our sun is dying. Mankind faces extinction."" ...",9,OCD geeks completely miss the point of (possib...

In [5]:
movie_details.describe()

            rating
count  1572.000000
mean      7.071819
std       0.967966
min       2.400000
25%       6.500000
50%       7.100000
75%       7.800000
max       9.500000

In [6]:
reviews.describe()

              rating
count  573913.000000
mean        6.954254
std         2.956295
min         1.000000
25%         5.000000
50%         8.000000
75%        10.000000
max        10.000000

In [7]:
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1572 entries, 0 to 1571
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       1572 non-null   object
 1   plot_summary   1572 non-null   object
 2   duration       1572 non-null   object
 3   genre          1572 non-null   object
 4   rating         1572 non-null   float64
 5   release_date   1572 non-null   object
 6   plot_synopsis  1572 non-null   object
dtypes: float64(1), object(6)
memory usage: 86.1+ KB

In [8]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573913 entries, 0 to 573912
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_date     573913 non-null  object
 1   movie_id        573913 non-null  object
 2   user_id         573913 non-null  object
 3   is_spoiler      573913 non-null  bool
 4   review_text     573913 non-null  object
 5   rating          573913 non-null  int64
 6   review_summary  573913 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 26.8+ MB

## Text cleaning

In [9]:
# convert to lowercase

movie_details["plot_summary"] = movie_details["plot_summary"].map(lambda x: x.lower())
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].map(lambda x: x.lower())
movie_details.sample(5)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
458,tt0105121,the people under the stairs is the story of a ...,1h 42min,"[Comedy, Horror, Mystery]",6.3,1991-11-01,
47,tt0114319,"while she was growing up, sabrina fairchild sp...",2h 7min,"[Comedy, Drama]",6.3,1995-12-15,"sabrina fairchild (julia ormond), is the larra..."
1007,tt0443272,"in 1865, as the american civil war winds inexo...",2h 30min,"[Biography, Drama, History]",7.4,2012-11-16,"the opening scene is a brutal, muddy melee. at..."
1242,tt3322364,"will smith stars in concussion, a dramatic thr...",2h 3min,"[Biography, Drama, Sport]",7.1,2015-12-25,the film opens with a footage of football play...
246,tt0101316,it is french colonial vietnam in 1929. a young...,1h 55min,"[Biography, Drama, Romance]",6.9,1992-10-30,"one cannot speak of ""the plot"" of the film in ..."

In [10]:
reviews["review_summary"] = reviews["review_summary"].map(lambda x: x.lower())
reviews["review_text"] = reviews["review_text"].map(lambda x: x.lower())
reviews.sample(5)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
73542,30 August 2013,tt0046912,ur23887409,True,the only problem that some people may have wit...,7,"terrific performances, especially enjoyed bob ..."
536202,28 April 2013,tt0118884,ur20531137,False,science vs religion. i wouldn't want to get st...,7,zemekis delivers the ultimate sci-fi question ...
358944,25 July 2005,tt0387564,ur6153017,False,i used to be a big fan of the cube really wond...,9,do you appreciate your life as gifted and do y...
73652,22 August 2015,tt0046912,ur17646017,False,dial m for murder is your quintessential alfre...,9,amazing thriller!
396265,8 March 2007,tt0416449,ur0379909,True,men in black bikinis. sweat pouring off their ...,1,hollywood's first big gay epic movie

In [11]:
# remove URLs
import re

# pd.set_option('display.max_colwidth', None)
url_pattern = re.compile(r'https?://\S+')

# Use str.contains to get a boolean Series (True if a URL is present).
matches = reviews["review_text"].str.contains(url_pattern)

# show some urls
review_urls = reviews[matches]["review_text"].str.findall(url_pattern)
if len(review_urls) > 0:
    print("Number of reviews with URLs:", len(review_urls))
    print(review_urls.sample(10))

Number of reviews with URLs: 4404
169259    [http://charlieposts.blogspot.ca/2013/01/zero-...
398820                  [http://bobafett1138.blogspot.com/]
449608                  [http://bobafett1138.blogspot.com/]
433546                  [http://bobafett1138.blogspot.com/]
70574     [http://www.aqweeb.com/2016/05/hackers-movies-...
69207                   [http://bobafett1138.blogspot.com/]
34105                   [http://bobafett1138.blogspot.com/]
232712           [http://www.rlsscene.com/category/movies/]
401345              [http://www.imdb.com/title/tt0319769/)]
465703                            [http://www.invocus.net)]
Name: review_text, dtype: object

In [12]:
# remove URLs from all text
reviews = reviews.replace(url_pattern, '', regex=True)
movie_details = movie_details.replace(url_pattern, '', regex=True)
reviews.sample(10)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
86930,2 November 2013,tt1979320,ur19752191,False,ron howard is the rare hollywood auteur that d...,5,stylish but lacks a real emotional connection ...
156666,29 September 2012,tt1276104,ur3570536,False,i would have thought it doubtful that anyone c...,10,"very clever, very original and very welcome."
386276,2 February 2006,tt0358273,ur4528307,True,"i really liked this film, but there are some i...",9,"good, but inaccurate"
167786,12 July 2012,tt0948470,ur21076864,False,"ok, if you are wondering why they made another...",6,the pointless spider-man
131216,4 October 2010,tt1403981,ur2538630,True,"""remember me"" is a film that suffers from conv...",3,pointless and convoluted writing
298350,22 February 2011,tt0213149,ur2326544,False,it would be easier to overlook the historical ...,5,a grand miscalculation.
220909,17 January 2015,tt1065073,ur21908153,False,having believed that this must be a 'special' ...,2,astoundingly average
4285,4 January 2004,tt0111161,ur2489267,False,this was on sale for £5 so i had to buy it aft...,8,genius
246075,26 November 2016,tt3183660,ur4243584,True,sure certain familiar things are there for ope...,6,pretender to the throne
549449,11 November 1998,tt0120484,ur0134820,False,the trailers for 'the waterboy' misled me into...,1,unfunny cliched comedy

In [13]:
movie_details.sample(10)

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
911,tt0109040,"to be a pet detective, you have to understand ...",1h 26min,[Comedy],6.9,1994-02-04,the movie begins with our hero ace ventura (ji...
1301,tt0212720,in the not-so-far future the polar ice caps ha...,2h 26min,"[Adventure, Drama, Sci-Fi]",7.1,2001-06-29,the story takes place in the future where the ...
1359,tt0325710,"in the 1870s, captain nathan algren, a cynical...",2h 34min,"[Action, Drama, History]",7.7,2003-12-05,"in the summer of 1876, captain nathan algren (..."
1386,tt3640424,"in the middle of world war ii, in turbulent 19...",2h 4min,"[Action, Drama, Romance]",7.1,2016-11-23,"french morocco, 1940max vatan (brad pitt) para..."
813,tt0458525,"two mutant brothers, logan and victor, born 20...",1h 47min,"[Action, Adventure, Sci-Fi]",6.7,2009-05-01,"in 1845 in north-western territory, british no..."
1445,tt1259571,after bella recovers from the vampire attack t...,2h 10min,"[Adventure, Drama, Fantasy]",4.7,2009-11-20,"a thick, yellow moon slowly transforms into th..."
986,tt0427327,"tracy turnblad, a teenager with all the right ...",1h 57min,"[Comedy, Drama, Family]",6.7,2007-07-20,"in may of 1962, baltimore teenager tracy turnb..."
1464,tt1000774,after moving in together in an impossibly beau...,2h 25min,"[Comedy, Drama, Romance]",5.6,2008-05-30,carrie bradshaw finally gets the commitment sh...
1332,tt3385516,"since the dawn of civilization, he was worship...",2h 24min,"[Action, Adventure, Sci-Fi]",7.0,2016-05-27,"nile valley, 3,600 b.c.the people of egypt are..."
634,tt0361862,trevor reznik is a machinist in a factory. an ...,1h 41min,"[Drama, Thriller]",7.7,2004-12-03,the movie opens up with credits while we hear ...

In [14]:
# remove HTML tags
html_pattern = re.compile(r'<.*?>')

matches = reviews["review_text"].str.contains(html_pattern)

htmls = reviews[matches]["review_text"].str.findall(html_pattern)
if len(htmls) > 0:
    print("Number of reviews with HTML tags:", len(htmls))
    print(htmls.sample(10))

# not removing it cuz it might have some useful info and is not HTML tags most of the time

Number of reviews with HTML tags: 229
301760                                     [<polite pause>]
127410    [<>, <>, <>, <>, <>, <>, <>, <>, <>, <>, <>, <...
287990                                                [<g>]
548538                                     [<<telling you>]
572157    [<approaching the village>, <players reluctant...
293531                            [<spoilers>, </spoilers>]
36753                             [<<"strength and honor">]
317181                                  [<may be spoilers>]
304116                                 [<warning, spoiler>]
162744                                       [<3 or love >]
Name: review_text, dtype: object

In [15]:
# remove numbers and non-alphabetic characters
non_alpha_pattern = re.compile(r'[^a-zA-Z\s]')
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you've seen the trailer then you know johnn...,6,if you've seen the preview trailer....
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,"this movie was called ""the hobbit"" right? not ..."
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie.
256559,12 April 2017,tt4651520,ur68978145,False,"one or two funny lines, but definitely not wor...",3,this is a comedy??
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm!!!!! for once would you people take a...,7,for once take the movie for what it is!!!!!!!!!
10779,25 July 2008,tt0468569,ur16687752,False,"the dark knight...the best, worst, most thrill...",5,"the dark knight...the best, worst, most thrill..."
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme. ...,7,"serious script questions aside, the orphan is ..."
103447,26 June 2007,tt0114746,ur10994229,False,"""twelve monkeys"" is odd and disturbing, yet be...",9,intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense. great special e...,10,"amazing originality, suspense, and special eff..."

In [16]:
reviews[["review_text", "review_summary"]] = reviews[["review_text", "review_summary"]].replace(non_alpha_pattern, ' ', regex=True)
movie_details[["plot_summary","plot_synopsis"]] = movie_details[["plot_summary","plot_synopsis"]].replace(non_alpha_pattern, ' ', regex=True)
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,if you ve seen the trailer then you know johnn...,6,if you ve seen the preview trailer
179207,18 December 2013,tt1170358,ur26165972,True,i made the sad mistake of seeing the midnight ...,6,this movie was called the hobbit right not ...
141046,11 March 2012,tt0780504,ur32327829,False,if it was raining outside and this movie was o...,1,boring and just a bad movie
256559,12 April 2017,tt4651520,ur68978145,False,one or two funny lines but definitely not wor...,3,this is a comedy
253467,3 March 2016,tt2948356,ur65648523,False,zootopia is nothing like your regular disney f...,10,regular disney fare
407924,26 June 2006,tt0463985,ur6403638,False,dahmmmmm for once would you people take a...,7,for once take the movie for what it is
10779,25 July 2008,tt0468569,ur16687752,False,the dark knight the best worst most thrill...,5,the dark knight the best worst most thrill...
471092,1 August 2009,tt1148204,ur4119148,True,the orphan is a movie that uses an old theme ...,7,serious script questions aside the orphan is ...
103447,26 June 2007,tt0114746,ur10994229,False,twelve monkeys is odd and disturbing yet be...,9,intelligence in its purest form
21770,18 July 2001,tt0137523,ur1260377,False,this movie has great suspense great special e...,10,amazing originality suspense and special eff...

## Tokenization

In [17]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt_tab')


movie_details["plot_summary"] = movie_details["plot_summary"].apply(word_tokenize)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(word_tokenize)
reviews["review_summary"] = reviews["review_summary"].apply(word_tokenize)
reviews["review_text"] = reviews["review_text"].apply(word_tokenize)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package punkt_tab to /home/ayush/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1536,tt0109686,"[harry, and, lloyd, are, two, good, friends, w...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, is, a, simple, minded, limo..."
1563,tt0120655,"[an, abortion, clinic, worker, with, a, specia...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[the, film, opens, with, a, homeless, man, bud..."
450,tt0117998,"[tv, weatherman, bill, harding, is, trying, to...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[in, june, a, young, family, takes, shelter, f..."
50,tt0120363,"[while, andy, is, away, at, summer, camp, wood...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[as, the, movie, begins, woody, is, excited, t..."
1440,tt0068646,"[when, the, aging, head, of, a, famous, crime,...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[in, late, summer, guests, are, gathered, for,..."
840,tt0118971,"[kevin, lomax, a, ruthless, young, florida, at...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeves, is, a, successfu..."
31,tt0082096,"[it, is, and, the, german, submarine, fleet, i...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[the, movie, opens, with, a, screen, noting, t..."
147,tt0138704,"[max, is, a, genius, mathematician, who, s, bu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[the, film, is, about, a, mathematical, genius..."
860,tt0100395,"[substance, addicted, hollywood, actress, suza...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[]
556,tt0102526,"[the, gangster, nino, has, a, gang, who, call,...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipes, is, an, up, and,..."

In [18]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[if, you, ve, seen, the, trailer, then, you, k...",6,"[if, you, ve, seen, the, preview, trailer]"
179207,18 December 2013,tt1170358,ur26165972,True,"[i, made, the, sad, mistake, of, seeing, the, ...",6,"[this, movie, was, called, the, hobbit, right,..."
141046,11 March 2012,tt0780504,ur32327829,False,"[if, it, was, raining, outside, and, this, mov...",1,"[boring, and, just, a, bad, movie]"
256559,12 April 2017,tt4651520,ur68978145,False,"[one, or, two, funny, lines, but, definitely, ...",3,"[this, is, a, comedy]"
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, is, nothing, like, your, regular, d...",10,"[regular, disney, fare]"
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, for, once, would, you, people, take...",7,"[for, once, take, the, movie, for, what, it, is]"
10779,25 July 2008,tt0468569,ur16687752,False,"[the, dark, knight, the, best, worst, most, th...",5,"[the, dark, knight, the, best, worst, most, th..."
471092,1 August 2009,tt1148204,ur4119148,True,"[the, orphan, is, a, movie, that, uses, an, ol...",7,"[serious, script, questions, aside, the, orpha..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkeys, is, odd, and, disturbing, ye...",9,"[intelligence, in, its, purest, form]"
21770,18 July 2001,tt0137523,ur1260377,False,"[this, movie, has, great, suspense, great, spe...",10,"[amazing, originality, suspense, and, special,..."

In [19]:
# remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
movie_details["plot_summary"] = movie_details["plot_summary"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_summary"] = reviews["review_summary"].apply(lambda x: [word for word in x if word not in stop_words])
reviews["review_text"] = reviews["review_text"].apply(lambda x: [word for word in x if word not in stop_words])
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package stopwords to /home/ayush/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1536,tt0109686,"[harry, lloyd, two, good, friends, happen, rea...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, simple, minded, limousine, ..."
1563,tt0120655,"[abortion, clinic, worker, special, heritage, ...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[film, opens, homeless, man, bud, cort, desert..."
450,tt0117998,"[tv, weatherman, bill, harding, trying, get, t...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[june, young, family, takes, shelter, impendin..."
50,tt0120363,"[andy, away, summer, camp, woody, toynapped, a...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[movie, begins, woody, excited, going, cowboy,..."
1440,tt0068646,"[aging, head, famous, crime, family, decides, ...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[late, summer, guests, gathered, wedding, rece..."
840,tt0118971,"[kevin, lomax, ruthless, young, florida, attor...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeves, successful, defe..."
31,tt0082096,"[german, submarine, fleet, heavily, engaged, c...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[movie, opens, screen, noting, germans, went, ..."
147,tt0138704,"[max, genius, mathematician, built, supercompu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[film, mathematical, genius, maximilian, cohen..."
860,tt0100395,"[substance, addicted, hollywood, actress, suza...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[]
556,tt0102526,"[gangster, nino, gang, call, cash, money, brot...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipes, coming, drug, pu..."

In [20]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[seen, trailer, know, johnny, depp, looks, rea...",6,"[seen, preview, trailer]"
179207,18 December 2013,tt1170358,ur26165972,True,"[made, sad, mistake, seeing, midnight, showing...",6,"[movie, called, hobbit, right, wood, elf]"
141046,11 March 2012,tt0780504,ur32327829,False,"[raining, outside, movie, tnt, something, migh...",1,"[boring, bad, movie]"
256559,12 April 2017,tt4651520,ur68978145,False,"[one, two, funny, lines, definitely, worth, ho...",3,[comedy]
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, nothing, like, regular, disney, far...",10,"[regular, disney, fare]"
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, would, people, take, movie, every, ...",7,"[take, movie]"
10779,25 July 2008,tt0468569,ur16687752,False,"[dark, knight, best, worst, thrilling, annoyin...",5,"[dark, knight, best, worst, thrilling, annoyin..."
471092,1 August 2009,tt1148204,ur4119148,True,"[orphan, movie, uses, old, theme, scary, kid, ...",7,"[serious, script, questions, aside, orphan, go..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkeys, odd, disturbing, yet, clever...",9,"[intelligence, purest, form]"
21770,18 July 2001,tt0137523,ur1260377,False,"[movie, great, suspense, great, special, effec...",10,"[amazing, originality, suspense, special, effe..."

## Lemmatization

with POS (part of speech) tagging for better results

In [21]:
# Not going with stemming as it might remove important context in movie reviews

nltk.download('wordnet')
# nltk.download('averaged_perceptron_tagger')
nltk.download('averaged_perceptron_tagger_eng')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize_with_pos(tokens):
    pos_tagged = nltk.pos_tag(tokens)
    lemmatized_tokens = []
    for word, tag in pos_tagged:
        if tag.startswith('J'):
            pos = 'a'  # adjective
        elif tag.startswith('V'):
            pos = 'v'  # verb
        elif tag.startswith('N'):
            pos = 'n'  # noun
        elif tag.startswith('R'):
            pos = 'r'  # adverb
        else:
            pos = 'n'  # default to noun
        lemmatized_tokens.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_tokens

movie_details["plot_summary"] = movie_details["plot_summary"].apply(lemmatize_with_pos)
movie_details["plot_synopsis"] = movie_details["plot_synopsis"].apply(lemmatize_with_pos)
reviews["review_summary"] = reviews["review_summary"].apply(lemmatize_with_pos)
reviews["review_text"] = reviews["review_text"].apply(lemmatize_with_pos)
movie_details.sample(10, random_state=123)

[nltk_data] Downloading package wordnet to /home/ayush/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/ayush/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

,movie_id,plot_summary,duration,genre,rating,release_date,plot_synopsis
1536,tt0109686,"[harry, lloyd, two, good, friend, happen, real...",1h 47min,[Comedy],7.3,1994-12-16,"[lloyd, christmas, simple, mind, limousine, dr..."
1563,tt0120655,"[abortion, clinic, worker, special, heritage, ...",2h 10min,"[Adventure, Comedy, Drama]",7.3,1999-11-12,"[film, open, homeless, man, bud, cort, desert,..."
450,tt0117998,"[tv, weatherman, bill, harding, try, get, torn...",1h 53min,"[Action, Adventure, Drama]",6.3,1996-05-10,"[june, young, family, take, shelter, impend, t..."
50,tt0120363,"[andy, away, summer, camp, woody, toynapped, a...",1h 32min,"[Animation, Adventure, Comedy]",7.9,1999-11-24,"[movie, begin, woody, excite, go, cowboy, camp..."
1440,tt0068646,"[age, head, famous, crime, family, decide, tra...",2h 55min,"[Crime, Drama]",9.2,1972-03-24,"[late, summer, guest, gather, wed, reception, ..."
840,tt0118971,"[kevin, lomax, ruthless, young, florida, attor...",2h 24min,"[Drama, Mystery, Thriller]",7.5,1997-10-17,"[kevin, lomax, keanu, reeve, successful, defen..."
31,tt0082096,"[german, submarine, fleet, heavily, engage, ca...",2h 29min,"[Adventure, Drama, Thriller]",8.4,1982-02-10,"[movie, open, screen, note, german, go, submar..."
147,tt0138704,"[max, genius, mathematician, build, supercompu...",1h 24min,"[Drama, Horror, Mystery]",7.4,1998-07-10,"[film, mathematical, genius, maximilian, cohen..."
860,tt0100395,"[substance, addict, hollywood, actress, suzann...",1h 41min,"[Comedy, Drama]",6.7,1990-09-14,[]
556,tt0102526,"[gangster, nino, gang, call, cash, money, brot...",1h 37min,"[Action, Crime, Drama]",6.6,1991-03-08,"[nino, brown, wesley, snipe, come, drug, pushe..."

In [22]:
reviews.sample(10, random_state=123)

,review_date,movie_id,user_id,is_spoiler,review_text,rating,review_summary
134386,7 March 2010,tt1014759,ur13049290,False,"[see, trailer, know, johnny, depp, look, reall...",6,"[see, preview, trailer]"
179207,18 December 2013,tt1170358,ur26165972,True,"[make, sad, mistake, see, midnight, show, movi...",6,"[movie, call, hobbit, right, wood, elf]"
141046,11 March 2012,tt0780504,ur32327829,False,"[rain, outside, movie, tnt, something, might, ...",1,"[bore, bad, movie]"
256559,12 April 2017,tt4651520,ur68978145,False,"[one, two, funny, line, definitely, worth, hou...",3,[comedy]
253467,3 March 2016,tt2948356,ur65648523,False,"[zootopia, nothing, like, regular, disney, far...",10,"[regular, disney, fare]"
407924,26 June 2006,tt0463985,ur6403638,False,"[dahmmmmm, would, people, take, movie, every, ...",7,"[take, movie]"
10779,25 July 2008,tt0468569,ur16687752,False,"[dark, knight, best, worst, thrill, annoy, fil...",5,"[dark, knight, best, worst, thrill, annoy, fil..."
471092,1 August 2009,tt1148204,ur4119148,True,"[orphan, movie, use, old, theme, scary, kid, o...",7,"[serious, script, question, aside, orphan, goo..."
103447,26 June 2007,tt0114746,ur10994229,False,"[twelve, monkey, odd, disturb, yet, clever, in...",9,"[intelligence, pure, form]"
21770,18 July 2001,tt0137523,ur1260377,False,"[movie, great, suspense, great, special, effec...",10,"[amaze, originality, suspense, special, effect]"

In [ ]:
# save preprocessed data

movie_details.to_feather("../data/preprocessed_movie_details.feather")
reviews.to_feather("../data/preprocessed_reviews.feather")